__*
autoconf/aclocal.m4
autoconf/autom4te.cache/
*.aux
*.b*
config.*
Debug*
*.d*
grammar.*
*.hh
*.ilg
*.lo*
Makefile.common
*.out*
parser.cpp
parser.h
parser.xml
Release*
*.results
scanner.cpp
*.sig*
*.sym*
tcc.pdf
*.toc
