__*
arc
*.o
*.bc
*.s
*.hh
parser.hpp
parser.cpp
parser.xml
scanner.cpp
*.results
*.out*
*.diff
*.doc
*.aux
*.toc
*.log
*.bbl
*.blg
*.out
*.pdf
*.bb
figuras/*.bb
*.ilg
*.symb*
*.sig*
*.roma*
*.gree*
*.misc*
docs/grammar.html
grammar.xml
grammar.tex
*.bnf
*.lof
*.lol
